/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: var(--header1);
}
li,
button,
label,
input,
a,
p {
  font-size: var(--text);
}
h2 {
  font-size: var(--header2);
}
h3 {
  font-size: var(--header3);
}
h4,
h5 {
  font-size: var(--header4);
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}
